@import "tailwindcss";

@theme {
  --color-santa-navy-dark: #050E3C;
  --color-santa-navy: #002455;
  --color-santa-red-dark: #DC0000;
  --color-santa-red: #FF3838;
}

:root {
  background-color: var(--color-santa-navy-dark);
  color: white;
  font-family: 'Inter', system-ui, sans-serif;
}

body {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Text Selection Styling */
::selection {
  background-color: var(--color-santa-red);
  color: white;
}

/* For Firefox */
::-moz-selection {
  background-color: var(--color-santa-red);
  color: white;
}

/* Floating Animation */
@keyframes float {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.animate-float-delayed {
  animation: float 6s ease-in-out 3s infinite;
}


/* Customize side bar  */

::-webkit-scrollbar {
  width: 8px; 
  height:8px;
}

::-webkit-scrollbar-track {
  background:  #050E3C !important;
}

::-webkit-scrollbar-thumb {
  background:  #FF3838 !important;
  border-radius: 0 !important; 
}

::-webkit-scrollbar-thumb:hover {
  background:  #DC0000 !important; /* slightly darker hover */
}

/* Custom input fill behavior */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 1000px #122855 inset !important;
    -webkit-text-fill-color: #ffffff !important; /* your text color */
    transition: background-color 5000s ease-in-out 0s;
}
